[submodule "cortex-v3"]
	path = cortex-v3
	url = https://github.com/eduardoakkari-grupowe/cortex-v3.git
[submodule "picpayproposta"]
	path = picpayproposta
	url = https://github.com/eduardoakkari-grupowe/picpayproposta.git
[submodule "bydhubv3"]
	path = bydhubv3
	url = https://github.com/eduardoakkari-grupowe/bydhubv3.git
[submodule "bydv5"]
	path = bydv5
	url = https://github.com/eduardoakkari-grupowe/bydv5.git
